:root {
  --headers: #212121;
  --logoblack: #000000;
  --hover: #2196f3;
  --text: #757575;
  --bcglite: #e5e5e5;
  --bcgdark: #2f303a;
  --bcgbutton: #f5f4fa;
  --white: #fff;
  --icons: #afb1b8;
  --transit-function: cubic-bezier(0.4, 0, 0.2, 1);
}
